%center
  .jumbotron
    %h1 Coordinators

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/sanjay_pant.jpg')}" style="width:60%;")
      .caption
        %h3 
          Sanjay Pant

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/aadil_firoze.jpg')}" style="width:60%;")
      .caption
        %h3 
          Aadil Firoze

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/sameer_ansaari.jpg')}" style="width:60%;")
      .caption
        %h3 
          Sameer Ansaari

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/prashant_dwivedi.jpg')}" style="width:60%;")
      .caption
        %h3 
          Prashant Dwivedi

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/shishir_raj_singh.jpg')}" style="width:60%;")
      .caption
        %h3 
          Shishir Raj Singh

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/anwar_hussain.jpg')}" style="width:60%;")
      .caption
        %h3 
          Anwar Hussain

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/chandra_prakash_dubey.jpg')}" style="width:60%;")
      .caption
        %h3 
          Chandra Prakash Dubey

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/vivek_pal.jpg')}" style="width:60%;")
      .caption
        %h3 
          Vivek Pal

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/vimal_vaibhav.jpg')}" style="width:60%;")
      .caption
        %h3 
          Vimal Vaibhav

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/ashwani_prajapati.jpg')}" style="width:60%;")
      .caption
        %h3 
          Ashwani Prajapati

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/vinod_rana.jpg')}" style="width:60%;")
      .caption
        %h3 
          Vinod Rana

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/rohan_dhek.jpg')}" style="width:60%;")
      .caption
        %h3 
          Rohan Dhek

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/pranjal_nadhani.jpg')}" style="width:60%;")
      .caption
        %h3 
          Pranjal Nadhani

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/deshbandhu_kumar.jpg')}" style="width:60%;")
      .caption
        %h3 
          Deshbandhu Kumar

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/mehtab_ali.jpg')}" style="width:60%;")
      .caption
        %h3 
          Mehtab Ali

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/ritu_gupta.jpg')}" style="width:60%;")
      .caption
        %h3 
          Ritu Gupta

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/pallavi_rajput.jpg')}" style="width:60%;")
      .caption
        %h3 
          Pallavi Rajput

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/akansha_tripathi.jpg')}" style="width:60%;")
      .caption
        %h3 
          Akansha Tripathi

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/soni_aggrawal.jpg')}" style="width:60%;")
      .caption
        %h3 
          Soni Aggrawal

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/mamta_bhandari.jpg')}" style="width:60%;")
      .caption
        %h3 
          Mamta Bhandari

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/sonali_gupta.jpg')}" style="width:60%;")
      .caption
        %h3 
          Sonali Gupta

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/anjali_roy.jpg')}" style="width:60%;")
      .caption
        %h3 
          Anjali Roy

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/yukta_mishra.jpg')}" style="width:60%;")
      .caption
        %h3 
          Yukta Mishra

  .col-sm-3
    .thumbnail
      %br/
      %img.img-circle(src="#{asset_path('coordinators/jyoti_yadav.jpg')}" style="width:60%;")
      .caption
        %h3 
          Jyoti Yadav
