.jumbotron
  %h1 Manage colleges
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Name of college
        %th Group name
        %th Contact Number
        %th Confirmed
        %th Event
        %th Created
        %th Actions
    %tbody
      - @colleges.each do |college|
        %tr
          %td= link_to college.id, college_path(college)
          %td= college.name
          %td= college.group_name
          %td= college.contact_no
          %td
            - if college.confirmed?
              Yes
            - else
              No
          %td= college.event.titleize
          %td= college.created_at.to_s
          %td
            = link_to "Edit", edit_college_path(college), class: 'btn btn-warning btn-sm'
            = link_to "Delete", college_path(college), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'

  = link_to "New", new_college_path, :class => 'btn btn-primary'
