.jumbotron
  %legend
    %h1
      College registration details
      %small
        for
        = @college.event.titleize

  %p
    %strong College name
    %br
    = @college.name
  %p
    %strong Group name
    %br
    = @college.group_name
  %p
    %strong Contact number
    %br
    = @college.contact_no
  - if admin_signed_in?
    %p
      %strong Confirmed
      %br
      - if @college.confirmed?
        Yes
      - else
        No

  %p
    %strong Note: 
    Each participant would receive an email from us, once the registration entry is confirmed.

  - if admin_signed_in?
    = link_to "Back", colleges_path, :class => 'btn btn-default'
    = link_to "Edit", edit_college_path(@college), :class => 'btn btn-default'
    = link_to "Delete entry", college_path(@college), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
