.jumbotron
  %legend
    %h2
      College registration details
      %small
        for
        = @college.event.titleize

  %p
    %strong College name
    %br
    = @college.name
  %p
    %strong Group name
    %br
    = @college.group_name
  %p
    %strong Contact number
    %br
    = @college.contact_no
  - if admin_signed_in?
    %p
      %strong Confirmed
      %br
      - if @college.confirmed?
        Yes
      - else
        No

  - if admin_signed_in?
    = link_to "Back", colleges_path, :class => 'btn btn-info'
    = link_to "Edit", edit_college_path(@college), :class => 'btn btn-warning'
    = link_to "Delete entry", college_path(@college), :method => "delete", :data => { confirm: 'Are you sure?' }, :class => 'btn btn-danger'
  - else
    %p
      %strong Note: 
      Each participant would receive an email from us, once the registration entry is confirmed.

.row
  .col-md-2
  .well.col-md-8
    %legend
      %h2 List of participants

    - if @college.participants.size > 0
      %table.table.table-hover
        %thead
          %tr
            %th Name
            %th Email
            %th Contact number
        %tbody
          - @college.participants.each do |participant|
            %tr
              %td= participant.name
              %td= participant.email
              %td= "+91" + "#{ participant.contact_no }"
  .col-md-2
